---
import ContentPage from "../layouts/ContentPage.astro"
---

<ContentPage title="Choose a language" includeH1={true} description="">
	<ul>
		<li>
			<a href="/en/">English</a>
		</li>
	</ul>
</ContentPage>
