---

---

<style>
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		background-color: light-dark(#f1f1f1, #333);
	}
</style>
<footer class="footer">
	<p>
		<a href="https://github.com/BunnyNabbit/mcgalaxy-command-documentation">Repository</a>
	</p>
</footer>
